# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
antenv/
dist/
*.egg

# Node
node_modules/
frontend/dist/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


# Testing
files
programmeringscase.pdf
.claude
*.ipynb
